<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Locasa</title>
  </head>
  <body>
    <h3>Edit Page</h3>
    <form method="POST" action="/listings/<%=listing._id%>?_method=PUT">
      <input
        name="listing[title]"
        value="<%=listing.title%>"
        placeholder="enter title"
        type="text"
      />
      <br /><br />
      <textarea name="listing[description]" cols="35" rows="5">
<%=listing.description%></textarea
      >
      <br /><br />
      <input
        name="listing[image]"
        placeholder="enter image link/url"
        value="<%=listing.image%>"
        type="text"
      />
      <br /><br />
      <input
        name="listing[price]"
        value="<%=listing.price%>"
        placeholder="enter price"
        type="number"
      />
      <br /><br />
      <input
        name="listing[location]"
        placeholder="enter location"
        value="<%=listing.location%>"
        type="text"
      />
      <br /><br />
      <input
        name="listing[country]"
        value="<%=listing.country%>"
        placeholder="enter country"
        type="text"
      />
      <br /><br />
      <button>Update</button>
    </form>
  </body>
</html>
